body {
  font-family: sans-serif;
  margin: 2rem;
}
label {
  display: block;
  margin-top: 1rem;
}
button {
  margin-top: 1rem;
}
pre {
  background: #eee;
  padding: 1rem;
  height: 150px;
  overflow: auto;
}
